:root {
  --background-color: #e1b573;
  --text-color: #3d3d3d;
  --primary-color: #4b5320;
  --border-color: #e0e0e0;
  --accent-color: #6B8E23;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

form {
  display: flex;
  flex-direction: row;
  gap: 200px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Billing Details */
.billing-details {
  padding-right: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px rgba(107, 142, 35, 0.2);
}

.form-group input[placeholder] {
  color: #a9a9a9;
}

/* Order Summary */
.order-summary .order-box,
.order-summary .payment-box {
  background-color: #f4eee0;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.order-item,
.order-subtotal,
.order-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 16px;
}

.order-total {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid var(--border-color);
}


/* Payment Section */
.payment-option {
  margin-bottom: 20px;
  font-size: 16px;
}

.payment-option label {
  font-weight: bold;
  margin-left: 10px;
}

.payment-option p {
  font-size: 14px;
  color: #7a7a7a;
  margin-left: 28px;
}

.payment-option .paypal-logo {
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.payment-option a {
    font-size: 12px;
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 5px;
}

.place-order-btn {
  width: 100%;
  padding: 15px;
  background-color: #3a421a;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.place-order-btn:hover {
  background-color: #728529;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  form {
    flex-direction: column;
  }
}
.order-item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
}