<aside class="sidebar-wrapper">
    <div class="sidebar sidebar-collapse" id="sidebar">
        <div class="sidebar__menu-group">
            <ul class="sidebar_nav">
                <li class="menu-title">
                    <span>Paper Shelf</span>
                </li>
                <li class="has-child">
                    <a routerLinkActive="active" routerLink="/dashboard" class="">
                        <span data-feather="home" class="nav-icon"></span>
                        <span class="menu-text">Dashboard</span>
                    </a>
                </li>
                <li class="has-child">
                    <a routerLink="/dashboard/users" routerLinkActive="active" class="">
                        <span data-feather="folder" class="nav-icon"></span>
                        <span class="menu-text">Users</span>
                    </a>
                </li>
                <!-- <li class="has-child">
                    <a routerLink="/dashboard/books" routerLinkActive="active" class="">
                        <span data-feather="book-open" class="nav-icon"></span>
                        <span class="menu-text">Books</span>
                    </a>
                </li> -->
                <li class="has-child">
                    <a href="#" class="">
                        <span data-feather="cpu" class="nav-icon"></span>
                        <span class="book-open">Books</span>
                        <span class="toggle-icon"></span>
                    </a>
                    <ul>
                        <li>
                            <a routerLink="/dashboard/books" routerLinkActive="active" class="">Approved</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/books/pending" routerLinkActive="active" class="">Pending</a>
                        </li>
                    </ul>
                </li>
                <li class="has-child">
                    <a href="#" class="">
                        <span data-feather="cpu" class="nav-icon"></span>
                        <span class="menu-text">Reviews</span>
                        <span class="toggle-icon"></span>
                    </a>
                    <ul>
                        <li>
                            <a routerLink="/dashboard/reviews/approve" routerLinkActive="active" class="">Approved</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/reviews/pending" routerLinkActive="active" class="">Pending</a>
                        </li>
                    </ul>
                </li>
                <li class="has-child">
                    <a routerLink="/dashboard/orders" class="">
                        <span data-feather="cpu" class="nav-icon"></span>
                        <span class="menu-text">Orders</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>