<aside class="sidebar-wrapper">
    <div class="sidebar sidebar-collapse" id="sidebar">
        <div class="sidebar__menu-group">
            <ul class="sidebar_nav">
                <li class="menu-title">
                    <span>Paper Shelf</span>
                </li>
                <li class="has-child">
                    <a class="">
                        <span data-feather="home" class="nav-icon"></span>
                        <span class="menu-text">Dashboard</span>
                        <span class="toggle-icon"></span>
                    </a>
                    <ul>
                        <li>
                            <a routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
                        </li>
                    </ul>
                </li>
                <li class="has-child">
                    <a class="">
                        <span data-feather="folder" class="nav-icon"></span>
                        <span class="menu-text">Users</span>
                        <span class="toggle-icon"></span>
                    </a>
                    <ul>
                        <li>
                            <a routerLink="/dashboard/users" routerLinkActive="active">All Users</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/users" routerLinkActive="active">Authors</a>
                        </li>
                        <li>
                            <a routerLink="/dashboard/users" routerLinkActive="active">Admins</a>
                        </li>
                        <li>
                            <a data-layout="side">Manage Roles</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</aside>