

<div class="login-header text-center mb-4">
    <h2 class="fw-bold text-dark" style="font-family: 'Merriweather', serif;">Don't Worry!</h2>
    <p class="slogan fs-6 text-muted">Reset Your Password Now.</p>
</div>

<div *ngIf="errorMessage" class="alert alert-danger text-center general-error-message">
    {{ errorMessage }}
</div>

<form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" class="login-form w-100" autocomplete="off">
    
    <div class="form-group mb-4 text-start">
        <label for="email" class="form-label">Email</label>
        <input autocomplete="off" type="email" id="email" name="email" formControlName="email"
            placeholder="Your email address" class="form-control"
            [ngClass]="{'is-invalid': forgetForm.get('email')?.invalid && forgetForm.get('email')?.touched}">
        <div *ngIf="forgetForm.get('email')?.invalid && forgetForm.get('email')?.touched"
            class="invalid-feedback validation-message">
            <div *ngIf="forgetForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="forgetForm.get('email')?.errors?.['email']">Please enter a valid email address.</div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary w-100 fw-bold py-3 fs-5 login-btn"
        [disabled]="forgetForm.invalid">Send</button>

    <div class="form-links d-flex justify-content-center align-items-center flex-wrap gap-2 mt-4">
        <a routerLink="/auth/login" class="link text-secondary text-decoration-none small">Back to Login</a>
    </div>
</form>
