.book-card {
  background-color: var(--off-white);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  font-family: 'Lora', serif;
  color: var(--dark-gray);
  width: 300px;
  margin: auto;
  padding-top: 2px;
}
.book-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease

}
.book-image {
  width: 80%;
  height: 280px;
  object-fit: cover;
  margin: auto;
}

.book-info {
  padding: 0.8rem;
}

.book-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.book-author {
  font-size: 0.85rem;
  color: var(--light-gray);
  margin-bottom: 0.4rem;
}

.book-price {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--primary-gold);
}

.book-rating {
  color: var(--primary-gold);
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.book-actions {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.book-actions button {
  background: transparent;
  border: 1px solid var(--very-light-gray);
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 1rem;
}

.book-price {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 8px 0;
}

.original-price {
  text-decoration: line-through;
  color: var(--light-gray);
  font-size: 0.9rem;
}

.discounted-price {
  color: var(--primary-gold);
  font-weight: bold;
  font-size: 1.1rem;
}
