<div class="book-card">
  <a [routerLink]="['/product', book.id]" class="book-click-area">
    <img
      [src]="book.coverImage || 'assets/placeholder.jpg'"
      [alt]="book.title"
      class="book-image"
    />
    <div class="book-info">
      <h3 class="book-title">{{ book.title }}</h3>
      <p class="book-author">{{ book.author }}</p>
      <div class="book-price">
        <ng-container *ngIf="book.discount; else normalPrice">
          <span class="original-price">${{ book.price.toFixed(2) }}</span>
          <span class="discounted-price">
            ${{ getDiscountedPrice(book.price, book.discount).toFixed(2) }}
          </span>
        </ng-container>
        <ng-template #normalPrice>
          <span class="discounted-price">${{ book.price.toFixed(2) }}</span>
        </ng-template>
      </div>
      <div class="rating">
        <i class="fas fa-star text-warning"></i>
        <span class="ms-1">{{ book.averageRating.toFixed(1) || "0.0" }}</span>
      </div>
    </div>
  </a>

  <div class="book-actions" (click)="$event.stopPropagation()">
    <button
    class="wishlist-btn"
    (click)="addToWishlist(); $event.stopPropagation()"
    [disabled]="isInWishlist"
    [ngClass]="{ 'disabled-heart': isInWishlist }"
  >
    <i
      class="fa-heart"
      [ngClass]="{
        'fas text-warn': isInWishlist,
        'far': !isInWishlist
      }"
    ></i>
  </button>
  
    <button class="cart-btn" (click)="addToCart(); $event.stopPropagation()">
      <i class="fas fa-shopping-cart"></i>
    </button>
  </div>
  <div
    *ngIf="message"
    [ngClass]="{
      'message-success': messageColor === 'success',
      'message-error': messageColor === 'error'
    }"
    class="book-message"
  >
    {{ message }}
  </div>
</div>
