.auto-slider-container {
    overflow: hidden;
    width: 100%;
    padding: 30px 0;
    background-color: var(--off-white);
}

.auto-slider-track {
    display: flex;
    transition: transform 0.8s ease-in-out;
}

.slide {
    flex: 0 0 16.666%;
    max-width: 16.666%;
    padding: 0 10px;
    box-sizing: border-box;
}

.book-card {
    background: var(--white);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
    position: relative;
}

.book-card img {
    width: 100%;
    height: 370 px;
    object-fit: contain;
    background-color: #f0f0f0;
}


.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--dark-gray);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.book-info {
    padding: 10px 0;
}

.book-title {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
}

.book-author {
    font-size: 14px;
    color: var(--light-gray);
    margin-bottom: 8px;
}

.book-price {
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-gold);
}

@media (max-width: 992px) {
    .slide {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

@media (max-width: 600px) {
    .slide {
        flex: 0 0 50%;
        max-width: 50%;
    }
}